body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
       "Sidebar Header"
       "Sidebar Main";
}
.sidebar, .header, .main-content {
    padding: 1.5rem;
}
.sidebar {
    grid-area: Sidebar;
    background: #1892d3;
}

.header {
    grid-area: Header;
}

.main-content {
    grid-area: Main;
    overflow: auto; /* key adjustment */
}

.menu-1, .menu-2 {
    display: flex;
    flex-direction: column;
}
  
.menu-1 div, .menu-2 div {
    height: 3rem;
    flex: 1 1 auto;
}

 /* yellow- #f1b32b
 grey- #e1e8f0 */