body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
*
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
       "Sidebar Header"
       "Sidebar Main";
}
#sidebar, #header, #main-content {
    padding: 2em;
}
#sidebar {
    grid-area: Sidebar;
    background: #1892d3;
    vertical-align: middle;
    display: inline-block;
    color: #fff;
    text-shadow: -1px 1px 0 rgba(0,0,0,0.3);
}

#header {
    grid-area: Header;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
       "Search-Bar User-Info-Small"
       "User-Info Header-Buttons";
}

#main-content {
    grid-area: Main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
       "Projects Announcements"
       "Projects Tranding-Items";
    overflow: auto;
    background:  #e1e8f0;
}

#menu-1, #menu-2 {
    padding-top: 1rem;
}
  
#menu-1 div, #menu-2 div {
    height: 2rem;
}

#search-bar {
    grid-area: Search-Bar;
}
#user-info-small {
    grid-area: User-Info-Small;
}
#user-info {
    grid-area: User-Info;
}
#header-buttons {
    grid-area: Header-Buttons;
}
#projects {
    grid-area: Projects;
}
#announcements {
    grid-area: Announcements;
}
#tranding-items {
    grid-area: Tranding-Items;
}

svg {
    vertical-align: middle;
    display: inline-block;
    padding-right: 1rem;
}

 /* yellow- #f1b32b
 grey- #e1e8f0 */